# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
NEXT_PUBLIC_CHEC_PUBLIC_KEY=pk_test_32450027b79f5ead7f572090605e0a1d054b39d3aabc2
# Set the environment for your application, e.g. "development"
NODE_ENV="development"
# If you're using Stripe, add your publishable key here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51JSg6XAeFJxlriASxLvx6RWuJ8Zd6RwVwfNLqw1afvhwO2rgxWD2hjn9wZqpZyc9kKesEpPCZvY7MSLQjxqa2c9P00opzvNlVM

# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=
CHEC_API_URL=https://api.chec.io

